*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(237, 235, 235);
    color: rgb(26, 26, 26);
    font-family: sans-serif;
}

nav
{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 1rem 2rem;
    box-shadow: 0px 10px 10px lightgray;
}

#LogoSection
{
    display: flex;
    align-items: center;
}


#SearchBar
{
    /* border: 1px solid red; */
    width: 40%;
    display: flex;


}

#SearchBar input
{
    width: 100%;
    padding: 9px 25px;
    border-radius: 7px;
    border: 1px solid rgb(6, 126, 255);
}

#SearchBar button
{
    margin-left: 10px;
    background-color: black;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 7px;

}

a
{
    text-decoration: none;
    color: inherit;
}

nav ul
{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
}

nav ul li
{
    transition: 0.3s;
    cursor: pointer;
    user-select: none;
}

nav ul li:hover
{
    color: white;
    padding: 8px 17px;
    border-radius: 20px;
    background-color:#fe8700 ;
}

#Cart
{
    background: transparent;
    padding: 0;
}

#Cart img{
    transition: 0.3s;
    height: 2.5rem;
    margin-left: 2rem;
}

#Cart img:hover
{
    transform: scale(1.2)rotate(-10deg);
}



main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }
  
  /* Product Card Styles */
  .Product-Card {
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
    max-width: 380px;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
  }
  
  .Product-Card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
  
  .Product-Image img {
    width: 100%;
    height: auto;
    aspect-ratio: 2/2;
  }
  
  .Product-Info {
    padding: 20px;
    text-align: center;
  }
  
  .Product-Info h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .Product-Info h3 {
    font-size: 16px;
    margin-bottom: 15px;
  }

 
  
  .Product-Info button {
    background-color: #fe8700;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .Product-Info button:nth-of-type(2)
  {
    background-color: black !important;
  }


  
  .Product-Info button:hover {
    background-color: #fe8700;
  }